body {
  font-family: system-ui, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #242527;
  color: #e5e7eb;
}

h1, h2 {
  color: #a5a6a7;
}

section {
  margin-bottom: 40px;
}
